/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the body takes up at least the full height of the viewport */
}

.App {
  text-align: center;
  flex: 1; /* This ensures that the main content area takes up the remaining space */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  background-color: #444;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #555;
  color: white;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: #666;
}

.tab.active {
  background-color: #777;
}

.App-main {
  margin: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0px;
  transition: transform 0.1s ease;
}

.image-container:hover img {
  transform: scale(1.01);
}

.hover-text {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.image-container:hover .hover-text {
  opacity: 1;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
